<h2 class="highlights">Recomendações para você</h2>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let movie of movies">
      <img [src]="movie.image" alt="{{ movie.title }}">
<!--      <p>{{ movie.title }}</p>-->
    </div>
  </div>

  <!-- Botões de navegação -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

  <!-- Paginação -->
  <div class="swiper-pagination"></div>
</div>

<h2 class="highlights">Séries para toda a família</h2>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let serie of series">
      <img [src]="serie.image" alt="{{ serie.title }}">
      <!--      <p>{{ movie.title }}</p>-->
    </div>
  </div>

  <!-- Botões de navegação -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

  <!-- Paginação -->
  <div class="swiper-pagination"></div>
</div>

