
/* Container */
.swiper {
  position: relative;
  top: 140px;
  padding: 10px 18px 10px 7px;
}

/* Define o tamanho do slide */
.swiper-slide {
  position: relative;
  left: 5px;
  /*border:solid 1px greenyellow;*/
}

/* Define o tamanho e a aparência das imagens */
.swiper-slide img {
  width: 100%;
  height: 44vh;
  border: 3px solid transparent;
  border-radius: 6px;
  transition: border 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  display: block;
}

.swiper-slide img:hover {
  border: white 3px solid;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.05); /* Pequeno zoom para dar destaque */
}

.swiper-slide img:active {
  cursor: grabbing !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: relative;
  color: cornflowerblue;
  font-weight: bold;
  padding: 10px 12px;
  border: 2px solid cornflowerblue;
  background-color: black;
  opacity: .7;
  border-radius: 10px;
  scale: 45%;
}

.swiper-button-next:after {

}

.swiper-button-prev:after {

}

/* posição dos bullets */
.swiper-pagination {
  position: relative;
  top: 12px;
}

/* Cor dos bullets inativos */
.swiper-pagination-bullet {
  background-color: #ccc; /* Cor de fundo do bullet */
  opacity: 0.2; /* Transparência do bullet */
  transition: opacity 0.4s;
  scale: 1.2;
}

/* Bullet ativo (atual) */
.swiper-pagination-bullet-active {
  background-color: #2196f3; /* Cor do bullet ativo */
  opacity: 1; /* Transparência total */
}

.highlights {
  /*color: white;*/
  font-size: 1.05rem;
  /*font-weight: bold;*/
  position: relative;
  top: 140px;
  left: 14px;
  color: #ffffff !important;
}
