img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Container */
.swiper {
  position: relative;
  padding: 14px 0;
}

/* Define o tamanho do slide */
.swiper-slide {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Define o tamanho e a aparência das imagens */
.swiper-slide img {
  width: 90%;
  max-width: 90%;
  height:100%;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 6px;
  transition: border 0.3s ease, transform 0.3s ease;
}

.swiper-slide img:hover {
  border: white 2px solid;
  cursor:pointer;
  border-radius: 5px;
  transform: scale(1.05); /* Pequeno zoom para dar destaque */
}

.swiper-slide img:hover:active {
  cursor: grabbing;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: relative;
  color: cornflowerblue;
  font-weight: bold;
  padding: 10px 12px;
  border: 2px solid cornflowerblue;
  background-color: black;
  opacity: .7;
  border-radius: 10px;
  scale: 60%;
}

.swiper-button-next:after {

}

.swiper-button-prev:after {

}

/* posição dos bullets */
.swiper-pagination {
  position: relative;
  top: 12px;
}

/* Cor dos bullets inativos */
.swiper-pagination-bullet {
  background-color: #ccc; /* Cor de fundo do bullet */
  opacity: 0.2; /* Transparência do bullet */
  transition: opacity 0.4s;
  scale: 1.2;
}

/* Bullet ativo (atual) */
.swiper-pagination-bullet-active {
  background-color: #2196f3; /* Cor do bullet ativo */
  opacity: 1; /* Transparência total */
}

.highlights{
  color:white;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  top: 14px;
  left: 12px;
}
