/* Certifique-se de que o swiper tenha uma altura */
/*.swiper {*/
/*  width: 100%;*/
/*  height: 300px; !* ou qualquer valor de altura que você preferir *!*/
/*}*/

/*.swiper-wrapper {*/
/*  display: flex;*/
/*}*/

/*.swiper-slide {*/
/*  width: auto; !* Ajuste a largura para garantir que os slides se comportem corretamente *!*/
/*  height: 100%; !* Alinhe a altura dos slides *!*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.swiper-slide img {*/
/*  max-width: 100%;  !* Garantir que as imagens se ajustem corretamente dentro do slide *!*/
/*  max-height: 100%;*/
/*  object-fit: cover; !* Isso ajuda a garantir que a imagem cubra o slide sem distorcer *!*/
/*}*/

/*.swiper-button-next{*/
/*  border:slateblue solid 1px;*/
/*  padding: 20px;*/
/*}*/
/*.swiper-button-prev{*/
/*  border:slateblue solid 1px;*/
/*  padding: 20px;*/
/*}*/

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Centraliza o conteúdo */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

